@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(228, 5%, 71%);
    overflow-wrap: break-word;
}
html {
    overflow-y: scroll;
}
body .otherstuff {
    padding-top: 12vh;
}
a, li, h1, h2, p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: none;
}
a {
    background-color: hsl(221, 15%, 21%);
}
h1 {
    font-weight: 500;
    font-size: 250%;

}
p {
    margin-bottom: 1em;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0%;
    min-height: 8vh;
    width: 100%;
    background-color: hsl(0, 0%, 9%);
    position: fixed;
    box-shadow: 0px 0px 2px 1px hsl(0, 0%, 100%), 0px 0px 6px 5px hsl(0, 0%, 100%), 0px 0px 10px 9px hsl(199, 100%, 89%);
    z-index: 1;
}
header h1, li {
    background-color: hsl(0, 0%, 9%);
    color: whitesmoke;
}
.nav__links a {
    background-color: hsl(0, 0%, 9%);
    color: whitesmoke;
    animation: smallglow 1s linear infinite alternate;
    -webkit-animation: smallglow 1s linear infinite alternate;
}
hr {
    border-width: 5px;
    border-style: double;
    color: #202020;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 2px;
}
section {
    padding-left: 1cm;
    padding-right: 1cm;
    font-size: 140%;
    background-color: hsl(228, 5%, 71%);
}

.logo {
    background-color: hsl(0, 0%, 9%);
    float: left;
    letter-spacing: 8px;
    vertical-align: middle;
    animation: glow 1s ease-in-out infinite alternate;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
}
.myweb {
    user-select: none;
    font-size: 330%;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
}
.nav__links {
    list-style: none;
    background-color: hsl(0, 0%, 9%);
    user-select: none;
    display: flex;
    align-items: center;
}
.nav__links li {
    display: inline-block;
    padding: 0px 20px;
    background-color: hsl(0, 0%, 9%);
    vertical-align: middle;
}
.nav__links a {
    background-color: hsl(0, 0%, 9%);
    color: hsl(197, 71%, 73%);
    font-size: 90%;
    transition: font-size 0.35s;
    transition-timing-function: cubic-bezier(0.6, 0.5, 0.07, 1);
    font-weight: 700;
    font-size: 1.3em;
}
.nav__links li a:hover {
    color: hsl(197, 71%, 88%);
    font-size: 180%;
    text-shadow: 0 0 6px hsl(0, 0%, 100%), 0 0 9px hsl(224, 100%, 86%), 0 0 12px hsl(224, 100%, 86%), 0 0 15px hsl(224, 100%, 86%), 0 0 18px hsl(224, 100%, 86%), 0 0 21px hsl(224, 100%, 86%), 0 0 24px hsl(224, 100%, 86%);
}
.nav__links li a img:hover {
    height: 55px;
    transition: height 0.25s;
    transition-timing-function: cubic-bezier(0.6, 0.5, 0.07, 1);
}
@media screen and (min-width:1500px) {
    .nav__links {
        padding: 0px 8px;
        font-size: 135%;
    }
    .logo {
        font-size: 120%;
    }
    .logo img {
        height: 75px;
        position: relative;
        top: -6px;
    }
    body .otherstuff {
        padding-top: 14vh;
    }
}
@media screen and (max-width:1000px) {
    .nav__links li {
        padding: 0px 8px;
    }
}
@media screen and (max-width:850px) {
    .nav__links li {
        padding: 0px 4px;
    }
    .nav__links {
        margin-left: -1cm;
        font-size: 90%;
    }
    .logo h1 {
        font-size: 180%;
        padding-top: 8px;
    }
}
@media screen and (max-width:750px) {
    .nav__links {
        font-size: 80%;
    }
    .logo h1 {
        font-size: 160%;
        padding-top: 10px;
    }
}
@media screen and (max-width:690px) {
    .nav__links li a {
        flex-direction: column;
    }

}
@keyframes glow {
    from {
        text-shadow: 0 0 3px hsl(0, 0%, 100%), 0 0 6px hsl(0, 0%, 100%), 0 0 9px hsl(330, 100%, 45%), 0 0 12px hsl(330, 100%, 45%), 0 0 15px hsl(330, 100%, 45%), 0 0 18px hsl(330, 100%, 45%), 0 0 21px hsl(330, 100%, 45%);
      }
      
      to {
        text-shadow: 0 0 6px hsl(0, 0%, 100%), 0 0 9px hsl(224, 100%, 86%), 0 0 12px hsl(224, 100%, 86%), 0 0 15px hsl(224, 100%, 86%), 0 0 18px hsl(224, 100%, 86%), 0 0 21px hsl(224, 100%, 86%), 0 0 24px hsl(224, 100%, 86%);
      }
} 
@keyframes smallglow {
    from {
        text-shadow: 0 0 1px hsl(0, 0%, 100%), 0 0 3px hsl(0, 0%, 100%), 0 0 5px hsl(330, 100%, 45%), 0 0 7px hsl(330, 100%, 45%), 0 0 9px hsl(330, 100%, 45%), 0 0 11px hsl(330, 100%, 45%), 0 0 13px hsl(330, 100%, 45%);
      }
      
      to {
        text-shadow: 0 0 3px hsl(0, 0%, 100%), 0 0 4px hsl(224, 100%, 86%), 0 0 5px hsl(224, 100%, 86%), 0 0 6px hsl(224, 100%, 86%), 0 0 7px hsl(224, 100%, 86%), 0 0 8px hsl(224, 100%, 86%), 0 0 9Aapx hsl(224, 100%, 86%);
      }
}
.welcome h2{
    text-align: center;
    font-size: 5em;
    text-shadow: 0px 0px 2px hsl(0, 0%, 6%), 0px 0px 4px hsl(0, 0%, 6%), 0px 0px 7px hsl(0, 0%, 6%), 0px 0px 12px hsl(0, 0%, 6%), 0px 0px 20px hsl(0, 0%, 6%);
    font-weight: 900;
    font-family: 'Orbitron', sans-serif;
    color: hsl(210, 80%, 90%);
}
.a__img {
    border-radius: 0.4em;
}
.gridcontacts {
    width: 75%;
    height: 40vh;
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

}
.gridhome {
    width: 80%;
    height: 420px;
    margin: 0 auto;
    display: grid;
    grid-gap: 2vw;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.gridproducts {
    width: 90%;
    height: 50vh;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.line {
    background-color: hsl(221, 15%, 21%);
    box-shadow: 0px 0px 15px hsl(221, 15%, 21%);
    padding: 1em;
    text-align: center; 

}
.line a {
    background-color: none;
}               
.line p {
    background-color: hsl(221, 15%, 21%);
    color: hsl(228, 5%, 71%);
}
.line hr {
    color: hsl(228, 5%, 71%);
}
.line img {
    border-radius: 1.1cm;
    max-height: 240px;
    max-width: 240px;
}
.linegap {
    background-color: hsl(228, 5%, 71%);
    height: auto;
    width: auto;
}
.desc {
    padding: 0.5vw 5% 0;
    font-size: 80%;
}
.langflag {
    height: 30px;
    display: block;
    border-radius: 4px;

}
.langflag2 {
    height: 40px;
    display: block;
    border-radius: 50%;
    position: absolute;

}
.dropdown .langflag2{
    position: absolute;
    background-color: ivory;
    top: auto;
    right: 45px;
}

.dropdown_content {
    position: relative;
    display: flex;
    align-items: center;
}
.dropdown {
    transform: translateY(-130%);
    position: absolute;
    opacity: 0.9;
    z-index: 30;
    display: flex;
    right: 0;
    justify-content: space-around;
    align-items: center;
    transition: cubic-bezier(0.6, 0.5, 0.07, 1) 0.15s;
}
.dropdown a {
    padding: 2vh 10px;

    display: flex;
}
.dropdown_content:hover .dropdown {
    transform: translateY(0);
}
.imgframe img {
    display: block;
    background-color: hsl(221, 15%, 21%);
    box-shadow: 0px 0px 15px hsl(221, 15%, 21%);
    padding: 1em;
    margin: 0 auto;
    border-radius: 1.1cm;
    max-height: 50vw;
}

